.App {
  text-align: center;
}

/* Header Styling */
.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  position: fixed;
}
.Header-Selfie {
  border-radius: 50%;
  padding: 20px;
  max-width: 175px;
}
.Header-Title {
  color: #878787;
  font-size: 2.22rem;
  letter-spacing: 0.08rem;
  font-weight: 300;
}

.Header-Bio {
  font-size: 1.5em;
  text-align: justify;
  margin: 0 auto;
  padding: 1vh;
  width: 50%;
}
.Header-Selfie-and-Name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;
  letter-spacing: 0.08rem;
  font-weight: 500;
}



/* Projects Styling */



/* Footer Styling */