.App {
  text-align: center;
}

/* Header Styling */
.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: -99;
}
.Header-Selfie {
  border-radius: 50%;
  padding: 20px;
  max-width: 175px;
}
.Header-Title {
  color: #878787;
  font-size: 2.22rem;
  letter-spacing: 0.08rem;
  font-weight: 300;
}

.Header-Bio {
  font-size: 1.5em;
  text-align: justify;
  margin: 0 auto;
  padding: 1vh;
  width: 50%;
}
.Header-Selfie-and-Name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;
  letter-spacing: 0.08rem;
  font-weight: 500;
}

/* Projects Styling */
.Projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #3e1c8d;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 100vh;
  position: relative;
  z-index: 1000;
}

.Projects-Title {
  text-align: center;
  color: white;
  padding: 1em;
}

/* Footer Styling */
.Footer {
  margin-top: 0;
  padding-top: 0;
  height: 10%;
  background-color: #3e1c8d;
  text-align: center;
}
.Footer h3 {
  padding: 10px;
  color: white;
  margin: 0;
  font-size: 1em;
}